{% extends "simple_page.html" %}
{% block guts %}

<p>
	This wall uses the Google App Engine datastore to store posts.
	You may post anonymously,
	or you may <a href="/user/">log in with a Google Account</a>.
</p>

<form method='post'>
	Add something here:
	<input type="text" name="new_message">
	<input type="submit" value="Post">
</form>

{% if my_wall.messages %}
	<ul>
	{% for post in my_wall.messages %}
		<li> {{ post.text }}
		<ul>
			<li> by {{ post.author.nickname }} at {{ post.time }}
		</ul>
	  	</li>
	{% endfor %}
	</ul>
{% else %}
No wall messages yet!
{% endif %}

{% endblock guts %}
